<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873223610994-njo93q6fltf26offhhpv4tdta672nl4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873223610994-njo93q6fltf26offhhpv4tdta672nl4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAEs1AvcyzqznTdoIWCCkQysJ6408ZE_3I</string>
	<key>GCM_SENDER_ID</key>
	<string>873223610994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naos.stp.codi.ios.PruebaBbva</string>
	<key>PROJECT_ID</key>
	<string>pruebabbva-7d940</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebabbva-7d940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873223610994:ios:07b0dd6a8f0266614598eb</string>
</dict>
</plist>